.container{
    width: 100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:20px;
    }
    
    .item{
    font-size: 28px;
    font-family: monospace;
    color:#99ddff;
    cursor: pointer;
    &:hover{
        color:#77ffbb; 
        transform: scale(1.05);
    }
    }